body {
  overflow: hidden;
  min-height: 100vh;
  cursor: crosshair;
  
}

.bubble {
  position: absolute;
  background: rgba(155, 228, 113, 0.832);
  border-radius: 300px;
  cursor: crosshair;


  /* etape6********** */
opacity: 0;
animation: anim 7s forwards;

}

/* }etape6 suite */
/* 
@keyframes anim {
  to {
    top: -250px;
    opacity: 1;
    filter: hue-rotate(720deg);
    /* voirexplication de hue rotate a la minute 17 */
    /* etape8 : enfait la keyframe on peut pas lui injecter qqch, une variable  depuis js , donc on va devoir lui injecter  une variable left  un mouvement sur notre bulle un peu vers la droite un peu vers la gauche pas juste vers le haut tu vois effet plus sympa*/
    
  
@keyframes anim {
  to {
    top: -250px ;
    opacity: 1;
    filter: hue-rotate(720deg);
    left: var(--left);

  }
  /* to : Définit l’état final de l’animation. Les propriétés dans ce bloc seront appliquées progressivement de l’état initial à l’état final pendant les 8 secondes. */
}






h3 {
  font-size: 5rem;
  text-align: center;
  color: rgb(116, 113, 113);
}