@font-face {
  font-family: "font-1";
  src: url(./font/Inter-VariableFont_slnt\wght.ttf);
  
}
* {
  margin: 0;
  padding: 5px;
  font-family: "font-1", Arial;
  box-sizing: border-box;
  cursor: none;
}
li {
  list-style: none;
}
a,
a:visited {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  font-size: 1.3rem;
  color: #2128bd;
}
body {
  background: rgb(27, 27, 27);
  color: rgb(246, 246, 246);
  min-height: 100vh;
}
nav {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 10px 20px;
  height: 50px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  z-index: 500;
}
section {
  display: flex;
}


.main-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  font-size: 5rem;
  /* ajout de cela pour le mix blend mode */
  position: relative; /* Nécessaire pour interagir avec le cercle */
  z-index: 1;

  
  
 
}


.main-left h2 {
  color: #474dff;
  font-size: 1.8rem;
}
.main-left p {
  font-size: 0.8rem;
}
.main-right {
  width: 50%;
}
.main-right img {
  width: 100%;
}
footer {
  background: rgb(7, 7, 7);
  display: grid;
  grid-template-columns: 33% 67%;
  border-radius: 10px;
}
.footer-left ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 160px;
}
.footer-left li {
  background: #474dff;
  width: 170px;
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
  letter-spacing: 1px;
  font-weight: bold;
}
.footer-right ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 160px;
}

footer img {
  height: 60px;
}

/* ************** RESPONSIVE *************** */

/* Tablette */
@media (max-width: 800px) {
  h1 {
    font-size: 2.5rem;
  }
  .main-left h2 {
    font-size: 1rem;
  }
  p {
    font-size: 0.7rem;
  }
  footer {
    grid-template-columns: 40% 60%;
  }
  footer img {
    height: 35px;
  }
}

/* Mobile */
@media (max-width: 570px) {
  nav {
    margin: 10px 5px;
  }
  nav li {
    font-size: 0.7rem;
  }
  section {
    flex-direction: column;
  }
  .main-left,
  .main-right {
    width: 100%;
  }
  .main-right img {
    width: 65%;
    margin: 0 auto;
    display: block;
  }
  footer {
    grid-template-columns: 1fr;
  }
  .footer-left ul {
    align-items: center;
  }
}



/* ********** mouse effect project1 */

/* étape 1: créer le style de la première bulle */



/* rond 1 : le rond qui remplace la souris  */

.mouse {

  height: 10px;
  width: 10px;
  border-radius: 50px;
  position: absolute;
  transform: translate(-50%, -50%);
  background: rgba(149, 26, 26, 0.632);
  z-index: 3;
 

}

/* rond deux le rond "moyen" */
.medium-circle {
  height: 80px;
  width: 80px;
  border-radius: 50px;
  position: absolute;
  background: rgba(193, 180, 180, 0.797);
  transition: 0.1s ease;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: black;
  mix-blend-mode: difference; /* Mode de mélange utilisé */


}

/* rond le plus grand qui englobe les deux autres */

.big-circle {

  height: 150px;
  width: 150px;
  background: rgba(0, 0, 0, 0.418);
  border-radius: 100px;
  position: absolute;
  transition: 0.3s ease;
  transform: translate(-50%, -50%);
  z-index: 1;
  mix-blend-mode:color-burn;
 
  
}